
*{
    padding:0;
    margin:0;
}
body,html{
    height:100%;
    background-color: darkcyan;

}
header{
    color: white;
    background-color: black;
    height:100px;
    width:100%;
}

section{
    height:100vh;
    width:100%;
}
ul{
    margin-top:30px;
    margin-right:70px;
    margin-left:30px;
    border:2px solid white;
    border-radius: 10px;
    color:lightgreen;
}
li{ 
    padding:0 70px;
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px;   
}
button{
    color:blue;
    border:1px solid white;
}
.new-btn{
   margin-top:20px;
   margin-left:60px;
}
#table-data{
    margin-left:20px;
    margin-top:30px;
    color:white;
    width:88%;
    font-size:15px;
}

.btn-right{
    margin-top:20px;
    margin-right:20px;
}
.btn1-right{
    margin-top:20px;
    margin-right:20px;
}
.modal-center{
    margin:0 auto;
    top:60px;
}
#prev {
    margin-left:50px;
    margin-bottom:10px;
}
#next{
    margin-top:10px;
    margin-bottom:10px;
    float: right;
}